.deals-container {
  display: flex;
  justify-content: space-between;
}

.deals-container span img {
  width: 100%;
  height: 100%;
}

.deals-container span {
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .deals-container {
    display: none;
  }
}
