.phones-section {
  display: flex;
  margin-top: 9px;
}
.phone-cards img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .phones-section {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .phones-section {
    display: none;
  }
}
