.deals-fashion-main-container {
  display: none;
}

@media screen and (min-width: 1024px) {
  .deals-fashion-main-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 1600px;
    margin-inline: auto;
    background-color: #fff;
  }
  .fashion-container a {
    text-decoration: none;
    color: #fff;
    background-color: #2874f0;
    padding: 6px;
  }
  .fashion-sub-section {
    padding: 113px 0;
    background-color: #fff;
    z-index: 2;
  }
  .fashion-container h2 {
    font-weight: 300;
    font-size: 29px;
  }
  .deals-fashion-container {
    display: flex;
  }
  .deals-fashion-sub-container {
    padding: 15px 25px;
    width: 224px;
  }
  .deals-fashion-sub-container img {
    width: 200px;
    height: 200px;
  }
  .fashion-description {
    display: flex;
    flex-direction: column;
  }
  .fashion-description .fashion-offers {
    color: #388e3c;
    padding: 8px 0 0;
  }
  .fashion-description .fashion-name {
    margin: 15px 0 0;
  }
  .fashion-description .fashion-details {
    padding: 7px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .fashion-container {
    width: 344px;
    height: 100%;
  }
  .deals-fashion-main-container .next-movement .nextarrow img {
    box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
    background-color: hsla(0, 0%, 100%, 0.98);
  }
  .next-movement {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: calc(136% - 52px);
    right: 0px;
    z-index: 2;
    background-color: #ffff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
    width: 47px;
    height: 104px;
  }
  .prev-movement img,
  .next-movement img {
    width: 14px;
    height: 24px;
  }
  .next-movement img {
    transform: rotate(180deg);
  }
  .prev-movement {
    position: absolute;
    align-items: center;
    justify-content: space-around;
    top: calc(136% - 52px);
    background-color: #ffff;
    z-index: 2;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
    width: 47px;
    display: none;
    height: 104px;
    left: 340px;
  }
}
@media screen and (min-width: 1440px) {
  .fashion-container {
    width: 250px;
  }
  .next-movement {
    top: calc(136% - 52px);
    right: 123px;
  }
  .prev-movement {
    top: calc(136% - 52px);
    left: 370px;
  }
}
